#calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(50px, auto);
    width: 20rem;
    margin: 10rem auto;
}

#calculator div {
    border: solid 1px grey;
    text-align: center;
    padding-top: 1rem;
    font-weight: bolder;
}

.display {
    grid-column: 1/5;
    background-color: rgb(13, 87, 156);
    color: white;
    font-size: 2rem;
    padding-top: 0.2rem !important;
}

.btn:active {
    background-color: black;
    color: white;
}

.equal {
    grid-column: 3/5;
    text-align: center;
}

.operator {
    color: rgb(13, 87, 156);
}